<div class="main">
  <h2>Expériences</h2>
  <div class="experience">
    <div class="experience--panel">
      <div class="dates">Depuis 2017</div>
      <img src=" {{'/assets/images/logo_wagon.png' | prepend:site.baseurl}}" alt="logo wagon" class="logo">
    </div>
    <div class="experience--content">
      <h3 class="post">Teacher au Wagon</h3>
      <p class="company">Le Wagon Lyon - <a href="https://www.lewagon.com/fr">www.lewagon.com/fr</a></p>
      <p>
        Depuis janvier 2017, j’assure la majorité des cours au Wagon Lyon. <br>
        Le Wagon propose des formations intensives de 9 semaines pour apprendre à développer, maintenir et déployer un produit web. <br>
        Les disciplines enseignées sont réparties en plusieurs catégories :
      </p>
      <ul>
        <li>Ruby</li>
        <li>Programation orientée objet</li>
        <li>Base de données</li>
        <li>Font-End (HTML, CSS, JavaScript)</li>
        <li>Ruby on Rails</li>
        <li>Projets</li>
      </ul>
      <p>Les étudiants sont soit des entrepreneurs qui cherchent a acquérir des compétences techniques pour développer leurs prototypes, soit des personnes ayant besoin de ces compétences pour être meilleurs dans leur métier, ou encore des personnes en reconversion professionnelle, cherchant à s'orienter vers le métier de développeur web.</p>
    </div>
  </div>

  <hr>

  <div class="experience">
    <div class="experience--panel">
      <div class="dates">Depuis 2017</div>
    </div>
    <div class="experience--content">
      <h3 class="post">Freelance</h3>
      <p>
        Depuis janvier 2017, je me suis mis à mon compte. Ma principale activité est de donner des cours au Wagon.
        Je propose aussi mes services de développer.
      </p>
      <ul>
        <li>Réalisation de scripts personalisés</li>
        <li>Création de POC (proof of concept)</li>
        <li>Gestion d'API (via zapier ou autre)</li>
        <li>Maintenance d'applications</li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="experience">
    <div class="experience--panel">
      <div class="dates">2014 à 2017</div>
      <img src=" {{'/assets/images/logo_tilkee.png' | prepend:site.baseurl}}" alt="logo tilkee" class="logo">
    </div>
    <div class="experience--content">
      <h3 class="post">Developper à Tilkee</h3>
      <p class="company">Tilkee - <a href="https://www.tilkee.fr/">www.tilkee.fr</a></p>
      <p>
        Les premiers mois en altérnance, j'ai décidé d'arrêter l'école suite à une proposition d'embauche directe en CDI. C'est à Tilkee que j'ai débuté et me suis confirmé dans le Web. <br>
        Quelques infos sur la stack technique:
      </p>
      <ul>
        <li>RoR pour le back</li>
        <li>Angular pour le front</li>
        <li>Utilisation de plusieurs services AWS</li>
        <li>Developement d'une API, consommable par des clients</li>
      </ul>
      <p>Tilkee propose une solution de tracking de documents.</p>
    </div>
  </div>

  <h2>Formations</h2>

  <div class="experience">
    <div class="experience--panel">
      <div class="dates">2012 à 2014</div>
      <img src=" {{'/assets/images/logo_epitech.png' | prepend:site.baseurl}}" alt="logo epitech" class="logo">
    </div>
    <div class="experience--content">
      <h3 class="post">Etudiant à Epitech</h3>
      <p class="company">Epitech - <a href="http://www.epitech.eu/">www.epitech.eu</a></p>
      <p>
        C'est là que j'ai vraiment appris la programmation, deux ans à faire (beaucoup) de C / C++. <br>
        Presque tout l'apprentissage se fait par projet.
    </div>
  </div>

  <hr>

  <div class="experience">
    <div class="experience--panel">
      <div class="dates">2011 à 2012</div>
      <img src=" {{'/assets/images/logo_afpa.png' | prepend:site.baseurl}}" alt="logo afpa" class="logo">
    </div>
    <div class="experience--content">
      <h3 class="post">Etudiant à l'AFPA</h3>
      <p class="company">AFPA - <a href="https://www.afpa.fr/">www.afpa.fr</a></p>
      <p>
        9 mois de formation. On ne rentrer pas assez dans les détails à mon goût, c'est pour cela que j'ai continuer Epitech. Mais c'était suffisant pour attraper le "virus" de la programmation.
      </p>
    </div>
  </div>
</div>
