<div class="sidebar">

  <img src="/assets/images/jpheos.jpg" class="sidebar--avatar">

  <h1 class="title">{{site.data.resume.fullname}}</h1>
  <div class="sidebar--infos">

    <a href="mailto:jooo.blanchard@gmail.com">
      <i class="far fa-envelope"></i> jooo.blanchard@gmail.com
    </a>
    <br>
    <a href="tel:+33622404418" alt="phone">
      <i class="fas fa-phone"></i> 06.22.40.44.18
    </a>
    <br>
    <a href="https://github.com/jpheos" alt="github">
      <i class="fab fa-github"></i> jpheos
    </a>
  </div>
  {% include skills.html title="languages" skills=site.data.resume.languages %}
  {% include skills.html title="frameworks" skills=site.data.resume.frameworks %}
  {% include skills.html title="others" skills=site.data.resume.others %}
</div>


